.containerone {
  border-radius: 10px;
}
.flex-column p {
  width: 119px;
  height: 15px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: left;
  margin-left: 30px;
  margin-top: 25px;
  color: #000000;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-column span {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #16c098;
}
.containerone-one input {
  width: 216px;
  height: 38px;
  border-radius: 10px;
  border: none;
  background: #f9fbff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}
.containerone-one select {
  width: 154px;
  height: 38px;
  margin-left: 15px;
  background: #f9fbff;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}

.card {
  border: none;
  width: 78vw;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 10px 60px 0px #e2ecf980;
}
/* .container {
  margin-left: 20px;
  margin-right: 20px;
} */

.tablebox {
  margin-left: 25px;
  margin-right: 25px;
  overflow-y: auto;
}

td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #cfcfcf;
}
th {
  box-sizing: border-box;
  height: 64px;
  color: #324054;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #cfcfcf;
}
thead{
  text-align: center; 
}
.status button {
  width: 89px;
  height: 26px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 11px;
  color: #f4cd12;
  border: none;
  background: #e6c10a40;
}
.iconuser {
  width: 24px;
  height: 23.39px;
  color: #2d68fe;
  padding: 2px;
}
.iconcorrect {
  width: 24px;
  height: 20.39px;
  color: #5aef42;
  padding: 2px;
}
.iconwrong {
  width: 24px;
  height: 23.39px;
  color: #d2202f;
  padding: 2px;
}
.iconmessage {
  width: 24px;
  height: 23.39px;
  color:#E6C10A;
  padding: 2px;
}
.iconprint{
  color: #71839B;
  width: 24px;
  height: 24px;
  padding: 2px;
}
.iconcorrect.disabled {
  opacity: 0.5;
  pointer-events: none;
  color: #e6e6e6;
}
.iconwrong.disabled {
  opacity: 0.5;
  pointer-events: none;
  color: #e6e6e6;
}
.bottom-row p {
  color: #b5b7c0;
  font-size: 13px;
  margin-top: 20px;
  margin-left: 20px;
  height: 18px;
}
.tag button {
  width: 89px;
  height: 26px;
  border-radius: 100px;
  margin-left: 25px;
  margin-top: 69px;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
}
.tag button.active {
  color: #ffffff;
  background-color: #2d68fe;
}
.status button.active1 {
  background: #9747ff29;
  color: #746dff;
}
.status button.active2 {
  background: #d2202f29;
  color: #d2202f;
}
.search-container {
  position: relative;
  display: inline-block;
}
.iconclear {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.clear:not(:placeholder-shown) + .iconclear {
  opacity: 1;
}
.iconclear {
  opacity: 0;
}
.modal {
  margin-top: 28%;
  margin-left: 55%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-header {
  background: #2d68fe;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: #ffffff; 
  text-align: center;
}
.body-popup {
  background: #ffffff;
  border-radius: 5px;
}
.body-popup1 {
  width: 160px;
  height: 30px;
  margin-top: 24px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #324054;
}
.modal-body {
  margin-left: 50px;
  max-height: 65vh; 
  overflow-y: auto;
}
.modal-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 0px;
  color: #324054;
}
.modal-body input {
  width: 347px;
  border-radius: 2px;
  border: 2px solid #71839b66;
 }
 .modalBody input{
  width:347px;
  height:145px;
 }
 .modalBody{
  padding: 30px;
 }
.button-footer{
 text-align: left;
} 
.button-footer .close-popup{
  width: 147px;
  height: 45px;
  color: #dd230a;
  background-color: #FFFFFF;
  border: 2px solid #dd230a;
  font-size: 16px;
font-weight: 700;
}
.button-footer .close-popup:hover{
  background-color: #dd230a;
  border:none;
}
.button-footer .accept-popup {
  width: 147px;
  height: 45px;
  border: 2px solid #2d68fe;
  background: #2d68fe;
  color: white;
  font-size: 16px;
font-weight: 700;
}
.validation {
  color: red;
}
.add-user{
  width: 148px;
  height: 40px;
  margin-top: 40px;
  margin-left: 85%;
  border-radius: 5px;
  border: 2px solid #2D68FE;
  background: #2D68FE;
  color: #ffffff;
}
.dropdown-content{
width: 149px;
height: 171px;
top: 80px;
margin-left: 85%;
border-radius: 4px;
border: 1px solid #DADADA;
box-shadow: 0px 4px 16px 0px #5454541F;
background-color: #FFFFFF;
position: absolute;
z-index: 1; 
}
.dropdown-content p{
margin-left: 10px;
font-size: 14px;
font-weight: 400;
}
.popup-user{
  background-color: #FFFFFF;
  width: 500px;
  height: 449px;
  border-radius: 10px;
  gap: 99px;
  position: fixed;
  top: 52%;
  left: 55%;
  transform: translate(-50%, -50%);  
  border: 1px solid #2D68FE;
  overflow: auto;
}
.popup-user hr{ 
    width: 384px;
    margin-top: 160px;
    margin-left: 58px;
    border: 1px solid #71839B66;
    color:#71839B66;
}
.popup-user .close-popup {
  width: 147px;
  height: 45px;
  margin-top: 5px;
  margin-left: 58px;
}
.iconAdd{
  width: 25px;
  height: 25px;
  margin-left: 372px;
  color: #2D68FE;
  position: absolute;
}
.iconMinus{
  width: 25px;
  height: 25px;
  margin-left: 372px;
  color: #d2202f;
  position: absolute;
}
