.containerone {
  border-radius: 10px;
}
.flex-column p {
  width: 119px;
  height: 15px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: left;
  margin-left: 30px;
  margin-top: 25px;
  color: #000000;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-column span {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #16c098;
}
.containerone-one input {
  width: 216px;
  height: 38px;
  margin-left: 450px;
  border-radius: 10px;
  border: none;
  background: #f9fbff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}
.containerone-one select {
  width: 154px;
  height: 38px;
  margin-left: 15px;
  background: #f9fbff;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}

.card {
  border: none;
  margin: 20px;
  box-sizing: border-box;
  width: 1030px;
  height: 514px;
  margin-top: 25px;
  margin-left: 250px;
  border-radius: 10px;
  box-shadow: 0px 10px 60px 0px #e2ecf980;
  overflow: auto;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
}

.tablebox {
  margin-left: 25px;
  margin-right: 25px;
}

td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
}
th {
  width: 150px;
  box-sizing: border-box;
  height: 64px;
  margin-top: 92px;
  margin-left: 30px;
  border: 0px, 0px, 1px, 0px;
  color: #324054;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
}
.actions {
  width: 100px;
  height: 26px;
  padding: 2px;
  text-align: center;
}
.status {
  width: 50px;
  height: 15px;
}
.status button {
  width: 89px;
  height: 26px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 11px;
  color: #f4cd12;
  border: none;
  background: #e6c10a40;
}
.iconuser {
  width: 24px;
  height: 23.39px;
  color: #2d68fe;
  padding: 2px;
}
.iconcorrect {
  width: 24px;
  height: 20.39px;
  color: #5aef42;
  padding: 2px;
}
.iconwrong {
  width: 24px;
  height: 23.39px;
  color: #d2202f;
  padding: 2px;
}
.iconmessage {
  width: 24px;
  height: 23.39px;
  color:#E6C10A;
  padding: 2px;
}
.iconprint{
  color: #71839B;
  width: 24px;
  height: 24px;
  padding: 2px;
}
.iconcorrect.disabled {
  opacity: 0.5;
  pointer-events: none;
  color: #e6e6e6;
}
.iconwrong.disabled {
  opacity: 0.5;
  pointer-events: none;
  color: #e6e6e6;
}
.bottom-row p {
  color: #b5b7c0;
  font-size: 13px;
  margin-top: 20px;
  margin-left: 20px;
  height: 18px;
}
.tag{
  margin-left: 230px;
}
.tag button {
  width: 89px;
  height: 26px;
  border-radius: 100px;
  margin-left: 25px;
  margin-top: 69px;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
}
.tag button.active {
  color: #ffffff;
  background-color: #2d68fe;
}
.status button.active1 {
  background: #9747ff29;
  color: #746dff;
}
.status button.active2 {
  background: #d2202f29;
  color: #d2202f;
}
.search-container {
  position: relative;
  display: inline-block;
}
.iconclear {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.clear:not(:placeholder-shown) + .iconclear {
  opacity: 1;
}
.iconclear {
  opacity: 0;
}
.popup {
  width: 500px;
  height: 509px;
  position: fixed;
  top: 52%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid #2d68fe;
  gap: 99px;
  box-shadow: 0px 2px 26px 0px #d700001a;
}
.popup hr {
  width: 384px;
  margin-top: 160px;
  margin-left: 58px;
  border: 1px solid #23262b66;
  color: #71839b66;
}
.head-popup {
  width: 500px;
  height: 80px;
  padding-top: 25px;
  border-radius: 10px 10px 0px 0px;
  background: #2d68fe;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
}
.body-popup {
  background: #ffffff;
  border-radius: 5px;
}
.body-popup1 {
  width: 160px;
  height: 30px;
  margin-top: 24px;
  margin-left: 171px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #324054;
}
.body-popup2 {
  width: 347px;
  height: 74px;
  margin-top: 30px;
  margin-left: 76px;
}
.body-popup2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 0px;
  color: #324054;
}
.body-popup2 input {
  width: 347px;
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 2px;
  border: 2px solid #71839b66;
  gap: 10px;
}
.reject {
  margin-top: 69px;
  margin-left: 76px;
  width: 347px;
  height: 179px;
  background: white;
}
.reject p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 132px;
  height: 24px;
  color: #324054;
  margin-left: 0px;
}
.reject input {
  width: 347px;
  height: 145px;
  border-radius: 2px;
  border: 2px solid #71839b66;
}
.close-popup {
  width: 147px;
  height: 45px;
  margin-top: 19px;
  margin-bottom: 5px;
  margin-left: 58px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 5px;
  color: #dd230a;
  border: 2px solid #dd230a;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}
.accept-popup {
  width: 147px;
  height: 45px;
  margin-left: 30px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 5px;
  border: 2px solid #2d68fe;
  background: #2d68fe;
  color: white;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}
.validation {
  color: red;
}
.add-user{
  width: 149px;
  height: 40px;
  margin-top: 40px;
  margin-left:1120px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 5px;
  border: 2px solid #2D68FE;
  background: #2D68FE;
  color: #ffffff;
}
.dropdown-content{
width: 149px;
height: 171px;
top: 80px;
margin-left:  1120px;
border-radius: 4px;
border: 1px solid #DADADA;
box-shadow: 0px 4px 16px 0px #5454541F;
background-color: #FFFFFF;
position: absolute;
}
.dropdown-content p{
margin-left: 10px;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}
.popup-user{
  background-color: #FFFFFF;
  width: 500px;
  height: 449px;
  border-radius: 10px;
  gap: 99px;
  position: fixed;
  top: 52%;
  left: 55%;
  transform: translate(-50%, -50%);  
  border: 1px solid #2D68FE;
  overflow: auto;
}
.popup-user hr{ 
    width: 384px;
    margin-top: 160px;
    margin-left: 58px;
    border: 1px solid #71839B66;
    color:#71839B66;
}
.popup-user .close-popup {
  width: 147px;
  height: 45px;
  margin-top: 5px;
  margin-left: 58px;
}
.iconAdd{
  width: 25px;
  height: 25px;
  margin-left: 372px;
  color: #2D68FE;
  position: absolute;
}

