.main-container {
    display: flex;
}
.navbar {
    width: 220px;
    height: 100vh;
    justify-content: space-between;
    box-shadow: 0px 2px 4px 0px #00000040; 
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #FFFFFF;
}
.ideaImage{
    width: 180px;
    height: 85px;
    margin-left: 10px;
}
.navBottomOne div,
.navbarTwo div{
   margin-left: 25px;
}
.navbarTwo{
   margin-top: 15px;
}
.navIconLayout{
   width: 20px;
   height: 20px;
}
.navbarTwo .nav-item, .navBottomOne .nav-item{
   display: inline-flex;
   width:196px;
   height:44px;
   border-radius: 4px;
}
.para{
   margin-left: 16px;
   font-size: 16px;
   font-weight: 500;
   color: #324054;
}
.navIcon{
   width: 20px;
   height: 20px;
   color: #2c323b;
   padding: 1px;
   text-align: center;
}
.navBottomTwo{
   display:flex;
   column-gap:4px;
   margin-top: 5px;
}
.mailLogoLayout{
   width: 40px;
   height: 40px;
   border-radius: 4000px;
   background: #2D68FE;
   margin-left: 10px;
}
.mailLogo{
   color: #FFFFFF;
   text-align: center;
   font-size: 20px;
   font-weight: 400;
   margin-top: 3px;
}
.mailName{
   margin-left: 2px;
   word-wrap: break-word;
   font-size: 14px;
   font-weight: 400;
}
.notification{
   display: inline-block;
   width: 18px;
   height: 18px;
   border-radius: 2000px;
   background: #FF472E;
   color: #FFFFFF;
   font-size: 12px;
   font-weight: 300;
   text-align: center;
   margin-top: 1px;
}
.navbarTwo .nav-item.active, 
.navBottomOne .nav-item.active {
   background: #eff6ff;
   color: #2d68fe;
 }