.previousExp h4{
    font-size: 16px;
    margin-bottom: 42px;
    color: #324054;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.previousExp .textbox{
    width: 115px;
    height: 40px;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 2px;
    column-gap: 10px;
    border: 2px solid #71839B66;
}
.previousExp .choosefile{
    width: 109px;
    height: 30px;
    padding: 5px, 10px, 5px, 10px;
    border-radius: 5px;
    background: #2D68FE;
    color: #ffffff;
    border: none;
}  
.previousExp .buttonrow{
    padding: 0px;
}
.previousExp .ref input{
    width: 180px;
}
.previousExp .checkbox{
    margin-right: 10px ;
}
.previousExp .addIcon{
    width: 14px;
    height: 14px;
}
.previousExp .textbox2{
    width: 100%;
    height: 40px;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 2px;
    column-gap: 10px;
    border: 2px solid #71839B66;
}