.userDashBoard .card{
    width: 200px;
    height: 211px;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 0px 1px 4px 0px #00000040;
 }
 .outerlayout{
    margin-top: 43px;
    margin-left: 55px;
    width: 81px;
    height: 73.71px;
 }
 .card p{
    font-weight: 600;
    margin-bottom: 10px;
 }
 .userDashBoard .textalign{
    margin-left: auto;
    margin-right: auto;
 }
 .innerlayout{
    width: 24px;
    height: 24px;
    padding: 2px;
    margin-left: 150px;
 }
 .insidelayout{
    background: #E6C10A;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 15px;
 }
 .insidelayout2{
    background: #4EB699;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 15px;
}
.innerlayout3{
    background: #D0004B;
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 15px;
}